input , button {
  width: 60%;
  padding: 10px 20px;
  margin: 10px 0;
  display: inline-block;
  border: 1px solid black;
  border-radius: 5px;
}

input[type=submit] , button {
  width: 60%;
  background-color: black;
  color: white;
  padding: 14px 10px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: rgb(115, 115, 245);
  color: black;
}

button:hover {
  background-color: rgb(240, 75, 75);
  color: black;
}

div {
  font-size: 20px;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 25px;
  margin-left: 30%;
  margin-right: 30%;
  text-align: center;
}

h1 {
  text-align: center;
  text-decoration: underline;
  text-decoration-style: underline;
  text-decoration-color: grey;
  font-size: 40px;
}