h1 {
    text-align: center;
    color:rgb(128, 19, 0);
    background-color: rgb(32, 168, 178);
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: rgb(44, 139, 0) 1px solid;

}

h2 {
    color:brown;
    font-size: 33px;
    font-style: bold;
}
h3  { 
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

#repolink {
     font-size: x-large;
}
* {
    box-sizing: border-box;
  }
  
  .box {
    display: flex;
  }
  
  .partition {
    flex: 40%;
    padding: 10px;
  }

